<h1>Productos</h1>

<div class='container mt-5'>
    <div class='row'>
        <div class='col'>
            <table class='table'>
                <thead class='table-dark'>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                </thead>
                <tbody>
                    
                    {{#each ListProduct}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.title}}</td>
                        <td>${{this.price}}</td>
                        <td><img src="{{this.thumbnail}}" height="30px"></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>